# Mac & Win
*~
._*
*DS_Store*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*Thumbs.db
__MACOSX
*:encryptable
.AppleDouble
.LSOverride
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Custom
*.map
*.js
node_modules
.debris
Rubbish
report.*.json
