# MacOS and Windows special folders and files
*~
._*
*DS_Store*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*Thumbs.db
__MACOSX
*:encryptable
.AppleDouble
.LSOverride
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Dependencies
node_modules

# Build results
hexa.exe
*.map
*.js

# Custom
.debris
Rubbish
report.*.json

# Tests
!test/normalizer/normalizer.js
