# Auto detect text files and perform LF normalization
* text=auto
*.ico binary
hexa text eol=lf
build.sh text eol=lf
build.bat text eol=crlf
source/tests/testLexer.hexa text eol=crlf
appveyor.yml text eol=crlf
