# MacOS and Windows special folders and files
*~
._*
*DS_Store*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*Thumbs.db
__MACOSX
*:encryptable
.AppleDouble
.LSOverride
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.hg
.svn

# Dependencies
node_modules

# Build results
*.exe
*.map
*.js
*.o
*.obj
*.lib
*.dll
*.so
*.ps1
*.c
*.cpp
*.asm
*.cmd
*.h
*.hpp
*.md
*.gif
*.dmp
*.bin
*.dat
*.iso
*.msi
*.diff
*.patch
*.vsix
*.zip
*.7z
*.rar

# Custom
.debris
Rubbish
report.*.json
docs

# Exclude
!.github
!.github/*
!.github/ISSUE_TEMPLATE/*
!.github/workflows/*

# Tests
!test/normalizer/normalizer.js
kklines
