name: 'Build tools'

on:
  push:
    branches:
      - '**'
    paths:
      - '.github/workflows/**'
      - 'tools/**'
  pull_request:
    branches:
      - '**'
    paths:
      - '.github/workflows/**'
      - 'tools/**'

defaults:
  run:
    shell: pwsh

jobs:
  build-libgen:
    name: 'Building'

    strategy:
      matrix:
        system:
          - windows-2019
          - windows-2022
        architecture:
          - amd64

    runs-on: ${{ matrix.system }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Enable Developer Command Prompt
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.architecture }}

      - name: Build Library Generator
        run: |
          cl tools\libgen\main.cpp `
            /Felibgen.exe /Os /INCREMENTAL:NO /nologo

      - name: Upload Library Generator
        uses: actions/upload-artifact@v3
        with:
          name: libgen-${{ matrix.system }}-${{ github.sha }}
          path: libgen.exe
